<p>componente1 works!</p>
<h1>Pagina Web Juan Pancho :3</h1>

<button (click)="navegacion()">Comida favorita jojo</button>
<button>carro favorito</button>
<button>serie fevorita</button>
<button>comida favorita</button>
<button>historia randoms</button>
<button>pais favorito</button>

<iframe src="https://giphy.com/embed/l4dDZGqJ62tVrDREa4" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/Clash-Royale-esports-clash-royale-supercell-l4dDZGqJ62tVrDREa4"></a></p>
